name: Publish Docker image

on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write # Permet d'écrire les rapports de sécurité si besoin

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Image Name
        run: |
          echo "IMAGE_LOWER=${IMAGE_NAME,,}" >>${GITHUB_ENV}

      # ÉTAPE 1 : On construit l'image localement (load: true) pour que Trivy puisse la voir
      # On ne push pas encore (push: false)
      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: ghcr.io/${{ env.IMAGE_LOWER }}:latest

      # ÉTAPE 2 : Le Scanner Trivy (Basé sur ton lien)
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ghcr.io/${{ env.IMAGE_LOWER }}:latest'
          format: 'table'      # Affiche un tableau dans les logs
          exit-code: '0'       # IMPORTANT : On met 0 pour ne pas bloquer le devoir même si des failles sont trouvées
          ignore-unfixed: true # Ignore les failles qui n'ont pas encore de correctif
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # ÉTAPE 3 : Si tout va bien, on envoie l'image (Push)
      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.IMAGE_LOWER }}:latest