name: Publish Docker image

on:
  push:
    branches: ['main']

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Lowercase Image Name
        run: |
          echo "IMAGE_LOWER=${IMAGE_NAME,,}" >>${GITHUB_ENV}

      # ÉTAPE 1 : Construction et chargement local
      - name: Build and export to Docker
        uses: docker/build-push-action@v5
        with:
          context: .
          load: true
          push: false
          tags: ghcr.io/${{ env.IMAGE_LOWER }}:latest

      # ÉTAPE 2 : Le Scan Trivy
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 'ghcr.io/${{ env.IMAGE_LOWER }}:latest'
          format: 'table'
          exit-code: '0'       # On ne bloque pas même si failles trouvées
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'

      # ÉTAPE 3 : Publication finale
      - name: Push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ env.IMAGE_LOWER }}:latest